{% block body %}
    <div class="modal fade" id="confirmModalSmall" data-backdrop="static" data-keyboard="false" style="overflow-y: auto;" role="dialog">">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="closeDelete hidden" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalConfirmLabelMessage"></h4>
                    <h4 class="modal-subtitle" id="myModalConfirmSubLabelMessage"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="modal-confirm-btn-no">{{ 'button.cancel' | trans}}</button>
                    <button type="button" class="btn btn-danger" id="modal-confirm-btn-yes">{{ 'button.delete' | trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
