{% block body %}
    <div class="modal fade" id="successModal" data-backdrop="static" data-keyboard="false" style="z-index: 2180 !important;" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div style="margin-top: 20px; padding-bottom: 10px;" class="alert alert-success" role="alert">
                        ¡Usuario agregado/modificado con &eacute;xito!
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
