{% extends 'base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div id="main" class="container-fluid">
        <div class="row">
            <div id="sidebar-left" class="col-xs-2 col-sm-2">
                {{
                render(
                    controller(
                        'App\\Controller\\MenuController::index',
                        {
                            route: route
                        }
                    )
                )
                }}
            </div>
            <div class="col-xs-12 col-sm-10" >
                <div class="row">
                    <div id="breadcrumb" class="col-xs-12">
                        <a href="#" class="show-sidebar">
                            <i class="fa fa-bars"></i>
                        </a>
                        <ol class="breadcrumbpanel pull-left"><a href="#">Vista previa</a> / <a href="#">
                                {{ (forceMobileWidth == true) ? 'mobile'|trans : 'desktop'|trans }}
                            </a>
                        </ol>
                    </div>
                </div>
                {% include "view_menu_1_content.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}



