<style>
    body {
        padding-top: 30px;
        background-color: #ebe3cc;
        color: #776557;
        text-align: center;
    }
    h1 {
        font-size: 24px;
    }
    p {
        font-size: 20px;
    }

</style>

{% block body %}
    <body>
    <div>
        <h1>{{ 'notfound.title'|trans }}</h1>
        <img src="{{ asset('images/404.jpg') }}">
    </div>
    </body>
{% endblock %}
